 body{
    background-image: url(https://www.shutterstock.com/shutterstock/photos/506137132/display_1500/stock-photo-close-up-top-view-of-young-people-putting-their-hands-together-friends-with-stack-of-hands-showing-506137132.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p{
    color: white;
    text-align: center;
    font-size: 40px;
}
#home{
    text-align: left;
}